<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Welcome to my Website"> </h2>
      </header>
      <p>I am Motahare Hazrati, master student at Sharif University of Technology  </p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'research' | absolute_url  }}" class="button special icon fa-magic">Research</a></li>
      </ul>
    </div>
    <span class="image object">
      <picture>
        <source data-srcset="assets/images/gmrt-group-picture.webp" type="image/webp" >
        <source data-srcset="assets/images/gmrt-group-picture.jpg" type="image/jpeg" > 
        <img src="assets/images/gmrt-group-picture-thumb.jpg" alt="Bunch of interns at the Giant Meterwave Radio Telescope (GMRT), at Pune, India." data-src="assets/images/gmrt-group-picture.jpg"  class="lazyload" />
      </picture>
      
    </span>
  </section>
